@import '../../../scss/vars';
.custom-navbar{


    .navbar-menu{
        .navbar-item{
            &:hover{
                background: rgba(0,0,0,0) !important;
                color: $contrast !important;
                h1{
                    color: $contrast !important;
                }
            }

            &.is-active{
                color: $contrast !important;
            }

            &:focus{
                background: rgba($dark, 0.0) !important;
            }
        }
        @media (max-width: 769px) {

            .navbar-item{
                text-align: center;

                // .icon, h1{
                //     display: inline-block;
                // }



            }

            background: $primary;

        }
    }
    transition: 0.5s;
    &.transparent{
        background: rgba(0, 0, 0, 0) !important;
    }

    &.has-shadow{
        box-shadow: 0px 5px 5px rgba(black, 0.5) !important;
    }
}

.navbar{
    transition: 0.5s;
    &.go-up{
        transform: translate(0, -100%);
    }

    &.down{

    }
}
