@import 'scss/vars';


.has-background-semi{        
    background: rgba($contrast, 0.05) !important;
    
}

.has-background-box{
    background: rgba($primary, 0) !important;
}

.table{

    background: rgba($primary, 0.0) !important;

    thead th {
        border-bottom: 1px solid rgba($light-purple, 0.0) !important;
    }

    thead tr th h1{
        color: white;
        text-align: center !important;        
    }

    

    tbody tr:last-child {
        td{ border: none !important;}
    }

    tbody tr td, tbody tr th{
        border-bottom: 1px solid rgba($light-purple, 0.0) !important;
        color: white;
        padding: 20px 40px;
        text-align: center;

    }


    @media screen and (max-width: 769px){

        tbody tr {
            border-bottom: 1px solid rgba($primary, 0.2);
            // border: none !important;

            &:last-child{
                border: none !important;
            }

        }

        tbody tr td{
            text-align: left;
            display: block;
            border: 0!important;
            width: 100%!important;
            float: left;
            clear: left;
            border: 0;
        }
    }
}
